.sound-button {
  background-color: #414345;
  color: white;
  border: 4px solid #FFAB00;
  border-radius: 4px;
  min-width: 10vh;
  min-height: 10vh;
  max-width: 10vh;
  max-height: 10vh;
  flex-grow: 1;
  flex-shrink: 1;
  transition: all ease 0.3s;
  box-shadow: inset 0 0 0 0 #31302B;
  display:flex;
}

.progress-bar {
  display: block;
  height: 100%;
  width: 50%;
  background-color: #FFAB00;
  box-shadow: inset -20px 0px 40px -10px black;
}

.sound-name {
  display: block;
  text-align: center;
  position: absolute;
}

.paused {
  box-shadow: inset 0px 0px 5px 5px black;
}

.hidden {
  visibility: hidden;
}

.background-img {
  position: absolute;
  z-index: -1;
  background-image: url("images/background.jpg");
  min-width: 100vh;
  min-height: 100vh;
  height: 1199px;
  width: 1919;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  width: 1080;
  height: 1920;
}


.sound-button:hover {
  transform: scale(1.1);
}
